/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-12-2, 10:56:55
    Author     : Administrator
*/

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
#movieDetail {
    position: relative;
    margin: 1rem;
}
.detail .header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    font-family: "幼圆";
}
.detail .detail-info .extra {
    margin-bottom: .3rem;
}
.detail .detail-info h2 {
    font-size: 1.5rem;
}
.detail .detail-info .score {
    color: #ffa84c;
    font-weight: bold;
}
.poster-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: 3000%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    -webkit-backface-visibility: hidden;
    z-index: -1;
}
.poster-bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}
.detail .header > img {
    height: 10rem;
}
.detail .header .detail-info {
    padding-left: .75em;
}
.movie-introduction {
    padding: 1rem;
}
.movie-introduction .itr-info {
    text-indent: 2em;
    line-height: 1.4;
}
#toggle {
    color: #166da1;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    margin: 0px 1rem;
    padding: .5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment {
    padding: 1rem;
}
.comment .row {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}
.comment .row .comment-user {
    margin-bottom: .5rem;
}
.comment .row .comment-content {
    text-indent: 2em;
}
.submit-comment {
    margin: 1rem;
}
.submit-comment textArea {
    width: 100%;
    height: 4rem;
    border-radius: .5rem;
    outline: none;
    padding: .5rem 0;
}
.submit-comment .sub-button {
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FEAE1B;
    border-color: #FEAE1B;
    color: #FFF;
    border-radius: 5px;
    float: right;
    margin-top: .5rem;
}